body{
  font-size: 30px;
 /*background-image: radial-gradient(palegoldenrod, aquamarine, lightskyblue);*/
  background-size: cover;
 background-image: URL("../Counter/Quran")
}

h1{
  color: maroon;
  font-style: italic;
  font-weight: 700;
  margin-top: 0;
  font-size: 93px;
}

h2{
  color: midnightblue;
  text-align: center;
  font-size: 200px;
  font-weight: 900;
  margin-top: 0;
  height: 160px;
}

button{
  font-size: 60px;
  font-style: italic;
  border: 6px outset firebrick;
  background: gold;
  margin-top:0 ;
  border-radius: 50px;
  margin-left: 10px;
  color: midnightblue;
  background-image: radial-gradient(white, lightgray);
}
p{
  color: maroon;
  font-style: italic;
  font-weight: 700;
  margin-top: 30px;
  font-size: 60px;
}
